*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Montserrat', sans-serif;
}

header{

    width:60%;
    height:580px ;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    margin:  0 auto;
    
    
}

nav{
    background-image: url(/images/header.jpg);
    background-position:center;
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y:;

}

.container-nav{

    width: 100%;
    height: 9.375rem;
    display: flex;
    align-items:;
    margin-top:1.25rem;
     
    

}

.logo{

    width: 3.75rem;
    margin-top: 0.9375rem;
}

ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:;
    height: 1.875rem;
    width: 50rem;
    margin-top: 1.875rem;
    margin-left: 7.5rem;
    color: rgb(102, 99, 99);
    font-weight: bold;
    
}

li{
    list-style: none;
    
    
}

li:hover{

    opacity: .7;
    
}

i{
    margin-right: 10px;
    
}

a{
    text-decoration: none;
    color:rgb(102, 99, 99);
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 28.125rem;
    height:6.25rem;
    color:rgb(102, 99, 99);;
    
}

.social :hover{

    opacity: .7;
    
    
}


.container-titulo{

    
    margin-left: 18.75rem;
    width: 95%;
    background-color:rgba(182, 182, 182, 0.2);
    height: 7.5rem;
    margin:auto;
    margin-bottom:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

h1.texto{
    color:tomato;
     opacity: .7
    
}

.imagenes{

    margin-top: 1.25rem;
    width: 100%;
    background-color:rgba(185, 185, 185, 0.637);
    overflow: hidden;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    
    
}


.imagen{

    width:48%;
    height:190px;
    margin-top: 5px;
    border: solid 0.3125rem whitesmoke;
    padding-bottom:;
    
    
}

.articulo{

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 50px;
    background-color: rgba(151, 164, 177, 0.301);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;


}

.imagen-article{

    display: flex;
    flex-direction: column;
    
}

.foto{

    width:98%;
    height: 500px;
    margin: 0 auto;
    position:;
}

h4{
    position: absolute;
    margin-top: 484px;
    margin-left: 15px;
    color: whitesmoke;;

}

h2{
    margin-left: 10px;
    background-color: tomato;
    width: 98%;
    margin-left:;
    
    
}

p{
    margin-left: 8px;
    margin-top: 20px;
    width: 60%;
    color: rgba(74, 78, 82, 0.788);
}

.ver-mas{
    margin-left: 8px;
    margin-top: 8px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1300px){

    ul{
        margin-left: 20px;
    }

    li{

        margin-left: 10px;
       
    }

    div.social{

        margin-left: 100px;
    }


}

@media (max-width: 768px){

    header{
        margin-top: 20px;
        height: 1000px;
    }
    .container-nav{

        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:;
        height:600px;
        font-size: 20px;
        margin-top: 70px;
        
    }

    

    ul{

        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        height: 600px;
        margin-top:20px;
        background: rgba(219, 228, 236, 0.329);
        margin-right:0px;
        margin-left: 0px;
        
        
        
                
    }

    .container-logo{

        height:70px;
    }

    div.social{
        display:flex;
        flex-direction: row; 
        margin: 0px;
        width: 20%;
        height: 10%;
        margin-top: 30px;
        

    }
}

@media (max-width: 375px){

    header{
        width: 90%;
    }

    .imagen-article, h2{
        margin-left: 15px;
    }


    .articulo, .imagen-article, h2{
        width: 90%;

        
    }

    nav{

        background-size: 600px;
    }

    .container-nav{

        margin-top: 20px;
    }

    ul{

        margin-top: 20px;
    }

    .container-titulo{
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .imagen{

        width:300px ;
    }

    .social{
        margin-top: 20px;
    }
}






